*{
	margin: 0px;
}

:root{
	--dred: #842c2c;
	--red: #d35656;
	--lred: #f9baba;
	--orange: #e36526;
	--yellow: #ffd703;
	--dgreen: #3aa752;
	--green: #6be485;
	--lgreen: #b3debd;
	--lblue: #b7dcef;
	--blue: #569cd6;
	--dblue: #2e6491;
	--purple: #907bda;
	--pink: #fc9cc6;
	--black: #1f1f1f;
}

body{
	font-family:sans-serif;
}

h1, h2, h3, h4 {
	padding: 10px;
	margin-bottom: 10px;
}

.gamelog{

	width: 100%;
	min-height: 80%;
	padding: 10px;

	font-family:monospace !important;
	font-size: 24px;

	background-color: var(--black);
	color:white;
	
	.red{color:var(--red)}
	.lred{color:var(--lred)}
	.dred{color:var(--dred)}
	.orange{color:var(--orange)}
	.yellow{color:var(--yellow)}
	.dgreen{color:var(--dgreen)}
	.green{color:var(--green)}
	.lgreen{color:var(--lgreen)}
	.lblue{color:var(--lblue)}
	.blue{color:var(--blue)}
	.dblue{color:var(--dblue)}
	.purple{color:var(--purple)}
	.pink{color:var(--pink)}
}
